* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0
}

.grid-container {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100vh;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: letf;
    margin-left: 5px;
    color: whitesmoke;
}

.grid-1 {
    background-color: #CC0000;
    border-right: red;
    border-width: 1px;
    color: whitesmoke;
}

.sidebar {
    margin-left: 15px;
}

input.layerSelect {
    background-color: #CC0000;
    color: whitesmoke;
}

/* Feature Overlay */
.overlay-container {
    background-color: #555;
    width: 150px;
    color: #fff;
    text-align: center;
    border-radius: 1px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
}

.overlay-container #feature-data::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}